<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
>

<title>{{ nombre }}</title>


<link
rel="icon"
href="{{ url_for('static', filename='favicon.png') }}"
>

<link
rel="apple-touch-icon"
href="{{ url_for('static', filename='favicon.png') }}"
>


<link
rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}"
>

</head>

<body>

<div class="contenedor-documento">

    <a href="/" class="volver">

       🔍 Regresar

    </a>

    <h1>

        {{ nombre.replace('.txt','').replace('_',' ').title() }}

    </h1>

    <div class="resultado">

        <p class="contenido">

            {{ contenido }}

        </p>

    </div>

</div>

</body>
</html>