<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
>

<title>Google 2.0</title>

<link
rel="icon"
href="{{ url_for('static', filename='favicon.png') }}"
>

<link
rel="apple-touch-icon"
href="{{ url_for('static', filename='favicon.png') }}"
>

<meta
name="apple-mobile-web-app-title"
content="SearchLens"
>

<link
rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}"
>

</head>

<body>

<div class="contenedor">

 <div class="logo-container">

    <img
        src="{{ url_for('static', filename='favicon.png') }}"
        alt="Google 2.0"
        class="logo-img"
    >

    <h1 class="logo">
        GOOGLE 2.0
    </h1>

</div>

    <p class="subtitulo">
        Encuentra información de manera rápida
    </p>

    <form method="POST">

        <input
            type="text"
            name="consulta"
            placeholder="Ingresa una o varias palabras..."
            required
        >

        <button type="submit">
            Buscar
        </button>

    </form>

    {% if resultados %}

        {% for resultado in resultados %}

        <a
            href="/documento/{{ resultado.documento }}"
            class="resultado-link"
        >

            <div class="resultado">

                <h3 class="documento">

                    {{ resultado.titulo }}

                </h3>

                <p class="similitud">

                    Similitud:
                    {{ resultado.similitud }}%

                </p>

                <p class="contenido">

                    {{ resultado.contenido }}

                </p>

            </div>

        </a>

        {% endfor %}

    {% elif request.method == "POST" %}

        <div class="mensaje-vacio">

            No se encontraron documentos con esas palabras.

        </div>

    {% endif %}

</div>

</body>
</html>