<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Buscador Jaccard</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <h1>🔍 Buscador de Documentos</h1>

    <form method="POST">

        <input
            type="text"
            name="consulta"
            placeholder="Ingrese una o varias palabras"
            required
        >

        <button type="submit">
            Buscar
        </button>

    </form>

    {% if resultados %}

        {% for resultado in resultados %}

            <a
                href="/documento/{{ resultado.documento }}"
                class="resultado-link"
            >

                <div class="resultado">

                    <h3 class="documento">
                        {{ resultado.titulo }}
                    </h3>

                    <p class="similitud">
                        Similitud: {{ resultado.similitud }}%
                    </p>

                    <p class="contenido">
                        {{ resultado.contenido }}
                    </p>

                </div>

            </a>

        {% endfor %}

    {% elif request.method == "POST" %}

        <div class="mensaje-vacio">

            No se han encontrado documentos que contengan las palabras buscadas.

        </div>

    {% endif %}

</body>
</html>